<div class="ui fixed inverted main menu">
<div class="main">
    <a ui-sref="dashboard.main" class="title item" id="logo">
        goweb
    </a>
    <a ui-sref="dashboard.main" ui-sref-active="active" class="title item">
        <i class="grid layout icon"></i> main
    </a>
   
    
</div>
</div>

<div class="pusher">
    <div class="ui active inverted dimmer" ng-show="isLoadingView">
        <div class="ui loader"></div>
    </div>
    <div id="content" ui-view>
    </div>
</div>

<script>
$('.ui.dropdown').dropdown();
</script>

